
<html>

<body class="fundo_check_out">


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1 class="cor_titulo cor_fundo_titulo">Pratico&Fresco
            <button type="button" class="btn btn-default btn-lg pull-right">
             <span class="glyphicon glyphicon-user"></span> Bem Vindo, Ana!
            </button>
            <p class="tamanho_slogan">Seu supermercado online</p>
          </h1>
        </div>
      </div>
    </div>

<h2>Finalizar e pagar minhas compras </h2>

        <h3>Total: $120,00 </h3>
        <p>Por favor retirar suas compras na loja localizada </p>
        <p>na Rua Joao Cahoeira 292, a partir das </p>
        <p >18:00h de 12 de outubro de 2013</p>
        <br></br>
        <h5>Obrigada! E uma otima semana!</h5>

</div>
</body>
</html>
