
<html>

<body class="fundo_compras">
  <div class="container ">
    <div class="row">
      <div class=" col-md-12">

        <div class="page-header">
          <h1 class="cor_titulo">Pratico&Fresco

             <button type="button" class="btn btn-warning btn-lg pull-right">
                <span class="glyphicon glyphicon-shopping-cart"></span>Meu carrinho
              </button>

              <button type="button" class="btn btn-default btn-lg pull-right">

                <span class="glyphicon glyphicon-user"></span> Bem Vindo, Ana!
              </button>


          <p class="tamanho_slogan">Seu supermercado online</p>
          </h1>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading negrito_centro">
              Seu carrinho
            </div>


            <table class="table">
              <tr>
                <th >Item</th>
                <th >Descricao</th>
                <th >Tamanho</th>
                <th >Preco</th>
                <th >Quantidade</th>
                <th>Alterar quantidade</th>

              </tr>

              <tr>
                <td>
                 <a href="#" class="thumbnail">
                   <img src="https://si0.twimg.com/profile_images/2376623625/4whfvmh30zvjk8h3d92o_normal.jpeg" alt="...">
                </a>
                </td>
                <td>Alface crespa</td>
                <td>1kg</td>
                <td>R$1,99</td>
                <td>
                  <form class="form-inline" role="form">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                    </select>

                    </div>
                </td>
                <td>
                  <button type="button" class="btn btn-warning centralizar">
                      <span class="glyphicon glyphicon-sort"></span>
                      Alterar quantidade
                    </button>
                </td>
              </tr>

              <tr>
                <td>
                 <a href="#" class="thumbnail">
                   <img src="http://www.mercadovip.com.br/app/config/703//imagens/produto/min_abobrinha.jpg" alt="...">
                </a>
                </td>
                <td>Abobrinha</td>
                <td>1kg</td>
                <td>R$3,99</td>
                <td>
                  <form class="form-inline" role="form">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                    </select>

                    </div>
                </td>
                <td>
                <button type="button" class="btn btn-warning centralizar">
                      <span class="glyphicon glyphicon-sort"></span>
                      Alterar quantidade
                    </button>
                </td>
              </tr>
                <td>
                 <a href="#" class="thumbnail">
                   <img src="http://www.falams.com/wp-content/themes/majalah/timthumb.php?src=http://www.falams.com/wp-content/uploads/2011/09/mandioca.jpg&h=48&w=48&zc=1" alt="...">
                </a>
                </td>
                <td>Mandicoca</td>
                <td>1kg</td>
                <td>R$2,99</td>
                <td>
                  <form class="form-inline" role="form">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                    </select>

                    </div>
                </td>

                <td>
                  <button type="button" class="btn btn-warning centralizar">
                      <span class="glyphicon glyphicon-sort"></span>
                      Alterar quantidade
                    </button>
                </td>

            </table>
          </div>
        </div>
       </div>


       <div class="row">
        <div class="col-md-12">
          <p><p>
          <p class="well">

              <a href="#" class="total">
                <span class="pull-right">R$ 7.97</span>
                Total
              </a>

           </p>
          </p></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p><p>
            <button type="button" class="btn btn-warning btn-lg pull-right">
              <span class="glyphicon glyphicon-shopping-cart"></span>Check out
           </button>
          </p></p>
        </div>
      </div>


  </div>
</body>
</html>
